<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, perspiciatis!</p>
  </header>
  <div class="card card--primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, optio.
    </div>
  </div>
</section>
<section class="block block--dark container">
  <header class="block__header">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, perspiciatis!</p>
    </div>
  </header>
</section>
