<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          height="512"
          viewBox="0 0 51 51"
          width="512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="Out_line" data-name="Out line">
            <defs />
            <defs />
            <circle cx="25.5" cy="25.5" r="25.5" fill="#393939" />
            <rect
              width="1.6"
              height="15.24"
              x="24.4"
              y="27.9"
              class="cls-2"
              rx=".8"
              transform="rotate(-39 11.114 37.674)"
            />
            <rect
              width="1.6"
              height="15.24"
              x="33.3"
              y="27.9"
              class="cls-2"
              rx=".8"
              transform="rotate(37.3 44.444 24.605)"
            />
          </g>
          </svg>
      </span>
    </header>
    <div class="collapsible__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, provident.</div>
  </div>